/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightblue;
  border: 2px dotted white;
}

h1 {
  display: flex;
  font-family: allerta;
  justify-content: center;
  color: navy;
  
}

.topnav {
  display: flex;
  flex-end: right;
}
