

/* CSS files add styling rules to your content */

body {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  font-family: "Allerta", sans-serif;
}

.white{
  background-color: #b19cd9;
  background-image: url('https://media1.giphy.com/media/3ohhwoER829Q2hWwx2/giphy.gif');
  background-size: 25%;
  text-align: center;
}

.home-body {
  margin-top: 3%;
}

h1 {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 150px;
}

.landing-image{
  justify-content:center;
}

mark {
  background-color: white;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
}

.links {
  padding: 1%;
  text-decoration: none;
}

.title {
  padding: 10%;
}
.button {
  /*padding: 2px;*/
  margin: 5px;
  border: none;
  background: lightblue;
  color: white;
  border-radius: 200px;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.calm {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.games-header {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 30px;
  padding: 3%;
}

.blue-sky {
  display: flex;
  justify-content: center;
  padding-left: 30%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.about {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 30px;
}
.resources {
  font-size: 30px;
}

.resource-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.text {
  width: 50%;
}

.facts {
  display: flex;
  text-align: center;
  color: navy;
  background-color: #b19cd9;
  font-size: 15px;
  padding: 5%;
  padding-left: 6%;
  flex-flow: column wrap;
}

h3 {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: black;
}

p {
  display: flex;
  justify-content: center;
}

.mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-q {
  background-color: lightblue;
  padding: 1%;
  width: 40%;
  height: 380px;
  display: inline-block;
  background-color: #b19cd9;
  margin-right: 2%;
  margin-left: 2%;
}

.div-m {
  background-color: #b19cd9;
  padding: 1%;
  width: 40%;
  height: 380px;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}

.listOfResources {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.list1 {
  padding-left: 20px;
  flex-flow: column wrap;
}

h4 {
  padding-left: 20px;
  text-size: 10px;
}

nav .logo {
  height: 100%;
  margin-right: auto;
}

.pic {
  height: 200px;
  width: 200px;
}
.bottom-pic {
  height: 200px;
  width: 300px;



.kingsfund {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nira {
  padding: 2%;
  width: 65%;
}

.jenny {
  padding: 2%;
  width: 65%;
}

.lucy {
  padding: 2%;
  width: 65%;
}

.names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
/*   padding: 3%; */
  width: 100%;
}

.scholar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  width: 80%;
}

.bio {
  border: 2px solid white;
  padding: 2%;
  height: 190px;
}
/*.nira-bio {
  border: 2px solid white;
  padding: 2%;
}

.jenny-bio{
  border: 2px solid white;
  padding:2%;
}

.lucy-bio{
  border: 2px solid white;
  padding: 2%;
}

/* 
.nira-bio {
  display: flex;
  flex-flow: column wrap;
  max-width: 20%;
  margin-left: 13%;
  border: 2px solid white;
  padding: 0.8%;
  margin-top: -18%;
}
.jenny-bio {
  display: flex;
  flex-flow: column wrap;
  max-width: 20%;
  margin-left: 39%;
  border: 2px solid white;
  padding: 0.8%;
  padding-bottom: 2.5%;
}

.lucy-bio {
  display: flex;
  flex-flow: column wrap;
  max-width: 20%;
  margin-left: 65%;
  margin-top: -18%;
  border: 2px solid white;
  padding: 0.8%;
  padding-bottom: 5.25%;
} */

/* Lucy is 17 years old and has lived in Portland, Oregon her whole life. She graduated high school this year, and plans to attend PCC in the fall. Her hobbies outside of coding include painting and pottery.*/
.