/* CSS files add styling rules to your content */

body {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  font-family: "Allerta", sans-serif;
}

.white {
  background-color: #b19cd9;
  background-image: url("https://media1.giphy.com/media/3ohhwoER829Q2hWwx2/giphy.gif");
  background-size: 25%;
  text-align: center;
}

.home-body {
  margin-top: 3%;
}

h1 {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 150px;
}

.landing-image {
  justify-content: center;
}

mark {
  background-color: white;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
}

.links {
  padding: 1%;
  text-decoration: none;
}

.title {
  padding: 10%;
}

.button {
  margin: 5px;
  border: none;
  background: lightblue;
  color: white;
  border-radius: 200px;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.calm {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.games-header {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 30px;
  padding: 3%;
}

.blue-sky {
  display: flex;
  justify-content: center;
  padding-left: %;
  padding-top: 2%;
  padding-bottom: 5%;
}

.about {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 30px;
}

.resources {
  font-size: 30px;
}

.resource-link {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  width: 100%;
  padding-left: 25px;
}

.text {
  width: 80%;
  padding-left: 20px;
}

.facts {
  display: flex;
  text-align: center;
  color: navy;
  background-color: #b19cd9;
  font-size: 15px;
  padding: 5%;
  padding-left: 6%;
  flex-flow: column wrap;
}

h3 {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  color: black;
}

p {
  display: flex;
  justify-content: center;
}

.mission {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div-q {
  background-color: lightblue;
  padding: 1%;
  width: 40%;
  height: 380px;
  display: inline-block;
  background-color: #b19cd9;
  margin-right: 2%;
  margin-left: 2%;
}

.div-m {
  background-color: #b19cd9;
  padding: 1%;
  width: 40%;
  height: 380px;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}

.listOfResources {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.list1 {
  padding-left: 20px;
  flex-flow: column wrap;
  
}

h4 {
  padding-left: 20px;
  text-size: 10px;
}

nav,
.logo {
  height: 100%;
  margin-right: auto;
}

.pic {
  height: 200px;
  width: 200px;
}

.bottom-pic {
  height: 200px;
  width: 300px;
}

.kingsfund {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nira {
  padding-left: 17.5%;
  padding-right: 17.5%;
  width: 65%;
  object-fit: contain;
}

.jenny {
  padding-left: 17.5%;
  padding-right: 17.5%;
  width: 65%;
  object-fit: contain;
}

.lucy {
  padding-left: 17.5%;
  padding-right: 17.5%;
  width: 65%;
  object-fit: contain;
}

.name {
  padding-left: 30%;
  padding-right: 30%;
}

.scholar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  width: 100%;
  text-align: center;
}

.bio {
  border: 2px solid white;
  padding: 2%;
  height: 190px;
}

.allOfUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.button2 {
  margin: 20px;
  justify-content: center;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  padding: 20px;
}

.emotions {
  display: flex;
  text-align: center;
  justify-content: center;
}

.moodImage {
  width: 115px;
  object-fit: contain;
}
.button2 {
  margin: 5px;
  border: none;
  background: white;
  color: black;
  border-radius: 100px;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button2:hover {
  cursor: pointer;
}
.more-resources {
  margin-top: ;
  justify-content: center;
  text-align: right;
  display: inline-block;
  flex-direction: column;
}
.aboutYou {
  display: flex;
  justify-content: center;
  color: navy;
  font-size: 30px;
  padding-bottom: 3%;
}

form {
  display: flex;
  justify-content: center;
}
input[type="text"] {
  padding: 10% 40%;
  box-sizing: border-box;
}

.submit {
  display: flex;
  justify-content: center;
  margin: auto;
}

.articles-info {
  width: 40%;
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
  bottom: 1050px;
 
}
.div-r {
  flex-direction: column;
}

.tired-video {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 30%;
  margin-bottom: 2%;
}
.column {
  float: left;
  width: 50%;
 
  
  
}
.header{
  padding-left: 32%;
  border: 
 

}
.header2{
  padding-left: 32%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.candy {
  display: flex;
  max-width: 100%;
  height: 300px;
  padding-left: 30%;
}

.happy-video {
  display: flex;
  padding-left: 20%;
  margin-bottom: 5%;
}
.list2 {
  padding-left: 2.5%
  margin-right: 5%;
  padding-top: 5%;
  padding-right: 6%
}
.resource-link{
  padding-left: 5%;
  padding-right: 2.5%;
}

.nervous-image {
  width: 40%;
  display: flex;
  padding-left: 30%;
}
.sad-image{
  max-width: 40%;
  height: auto;
  padding-left: 30%;
}
.anger-image{
  max-width: 40%;
  height: auto;
  padding-left: 30%;
}



.listTwoGames{
  padding-left:;
  
  
}

.footer{
  display: flex;
  align-items: center;
  justify-content:center;
  text-align:center;
  background-color: white;
  height:40%;
  padding:20px;
  position: sticky;
    
  
}

.footerButton{

  background-color: #b19cd9;
 display:flex;
  justify-content:center;
  align-items:center
}
/* Bordered form */
.logging {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=usern], input[type=passw] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.submission {
  background-color: #b19cd9 ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.login{
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.loggingOn{
  display: flex;
  justify-content:center;
  margin-top: 5%;
}
.loggingTitle{
  display:flex;
  justify-content:center;
  color: navy;
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 3%;
}